@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-main: #4ADE80;
  --color-accent: #FB923C;
  --color-bg: #F0FDF4;
  --color-text: #334155;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    var(--color-bg) 0%,
    #FFF7ED 100%
  );
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}